<h4>Create a New Form</h4>
<form action="<%= lists_path %>" method="post" data-remote=true id="new_list_form" class="form-inline" data-type="json">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="list[title]" value="" id="title_box" placeholder="List's Title">
	<a href="#" class="btn" id="add_item">Add an Item</a>
		<div id="item_create">
		
		</div><!-- #item_create -->
	<hr />
	<p><input type="submit" value="Create List &rarr;" class="btn btn-primary"></p>
</form>